---
import Layout from '@components/Layout.astro';
import FeedbackForm from './FeedbackForm.astro';
---

<Layout title="Hausemesse 2024 - Markmann + Müller">
  <main id="main">
    <div class="header">
      <div class="teaser">
        <img src="/2023-07-18_MM_Landingpage_Messe_Heaader_crop_lg.png" />
      </div>
    </div>
    <div class="intro">
      <p></p>
    </div>
    <FeedbackForm formname="feedback-2024" />
  </main>
</Layout>

<style>
  /* :root {
    text-align: center;
  } */
  .teaser img {
    padding: 30px 0;
    width: 100%;
  }

  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }
</style>
