---
import Layout from '@components/Layout.astro';
---

<Layout title="Sendebestätigung Hausemesse 2024 - Markmann + Müller">
  <div class="container">
    <main id="main">
      <h1>Vielen Dank.</h1>
      <p>
        Ihre Anmeldung ist bei uns eingegangen und wird bearbeitet.<br />
         Ihr Ansprechpartner wird sich zeitnah bei Ihnen melden.<br />
      </p>
      <!-- <p>Das m+m Team wünscht einen schönen Tag!</p> -->
    </main>
  </div>
</Layout>
<style>
  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }
</style>
