---
import Layout from '@components/2024/Layout.astro';
---

<Layout title="Sendebestätigung Hausemesse 2024 - Markmann + Müller">
  <div class="container">
    <main id="main">
      <h1>Vielen Dank.</h1>
      <p>
        Ihre Anmeldung ist erfolgreich bei uns eingegangen! Sie erhalten in Kürze eine Bestätigung von uns per E-Mail.
      </p>
      <!-- <p>Das m+m Team wünscht einen schönen Tag!</p> -->
    </main>
  </div>
</Layout>

<script>
  if (typeof window !== 'undefined') {
    window.onload = function() {
      // Send a message to the parent window
      window.parent.postMessage('formSubmitted', '*');
    };
  }
</script>

<style>
  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }
</style>
