---
import Fieldset from '@components/Fieldset.astro';

export interface Props {
  formname: string;
}

const {
  formname,
} = Astro.props as Props;

---

<div class="feedback-form">
  <form
    netlify
    netlify-honeypot
    name={formname}
    method="POST"
    action="/2024/success/"
    id={formname}
  >
    <input type="hidden" name="subject" value="Neue Messeanmeldung - %{formName} (%{submissionId})" />
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    
    <div style="margin-bottom: 2rem;">
      <p>
        Ab 16 Uhr laden wir Sie herzlich ein gemeinsam mit <br>
        uns den Messeabend ausklingen zu lassen.
      </p>
    </div>

    <Fieldset
      key="participation"
      name="participation"
      value="ja"
      type="checkbox"
      label="Ja, ich komme gerne zur m+m Hausmesse 2024."
      required
    />

    <div class="fields" style="margin-top:2rem">
      <Fieldset
        key="fullname"
        label="Vorname und Name"
        name="fullname"
        required
      />
      <Fieldset key="company" label="Firma" name="company" />
      <Fieldset key="position" label="Position" name="position" />
      <Fieldset key="phone" label="Telefon" name="phone" />
      <Fieldset key="email" label="E-Mail" name="email" type="email" required />
      <div>
      <p><small>Beachten Sie bitte, dass:</small></p>
      <ul>
        <li><small>
        die Einladungskarten nicht übertragbar sind
        </small></li>
        <li><small>
        wir am Messetag Fotos machen und diese zu Veröffentlichungszwecken nutzen werden.
        </small></li>
      </ul>
        </div>
    </div>

    <div class="fields interview">
      <div>
        <div>
          <p><strong>Ich möchte den Vortag von Herrn Prof. Dr. Peter Gentsch besuchen:</strong></p>
          <Fieldset
           type="checkbox"
            key="timeslot11"
            label="um 11:00 Uhr"
            value="Ja"
            name="timeslot11"
          />
          <Fieldset
            type="checkbox"
            key="timeslot14"
            label="um 14:00 Uhr"
            value="Ja"
            name="timeslot14"
          />
        </div>
      </div>
      <div>
        <p><strong>Ich komme in Begleitung folgender Person(en):</strong></p>
        <Fieldset
          key="companion1"
          label="1. Vorname, Name und Position"
          name="companion1"
        /><br />
        <Fieldset
          key="companion2"
          label="2. Vorname, Name und Position"
          name="companion2"
        />
        <button type="submit">Absenden</button>
        <p>
          <small>
            <strong>Hinweise zum Datenschutz</strong><br /><br />
             Die von Ihnen angegebenen Daten werden mit dem Versenden dieses
            Kontaktformulars elektronisch erfasst, gespeichert und verarbeitet.
            Ihre Daten werden ausschließlich zur Bearbeitung Ihrer Anfrage
            verwendet. Weitere Informationen finden sie in der
            Datenschutzerklärung.
          </small>
        </p>
      </div>
    </div>
    <!-- <input type="hidden" name="form-name" value="feedback" />
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <label for="feedback">What is your feedback?</label>
        <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
        <button type="submit">Submit</button> -->
  </form>
</div>

<style>
  .fields {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  }

  .interview {
    margin-top: 4rem;
  }

  /* :global(.fields > div) {
    flex-basis: calc(50% - 1rem);
  } */

  button[type='submit'] {
    margin-top: 3rem;
    border: none;
    padding: 0.75rem 2rem;
    color: var(--color-text-negative);
    background: var(--color-accent);
    font-size: var(--font-size-base);
  }

  .text {
    font-size: var(--font-size-sm);
  }

  /* .feedback-form {
  margin: 40px 40px;
  min-width: 250px;
  width: 45%;
} */
  /* input,
textarea,
button {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
} */
  /* button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
} */
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
