---
import Layout from '../components/Layout.astro';
---

<Layout title="Sendebestätigung Hausemesse 2023 - Markmann + Müller">
  <div class="container">
    <main id="main">
      <h1>Vielen Dank!</h1>
      <p>
        Ihr ausgefülltes Formular wurde erfolgreich an uns übermittelt.<br />
      </p>
      <p>Das m+m Team wünscht einen schönen Tag!</p>
    </main>
  </div>
</Layout>
<style>
  html {
    margin: 0 30px;
  }
</style>
